.movieCard {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  max-width: 800px;
  background-color: aliceblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.img {
  width: 200px;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
}

.text {
  margin: 0;
}

.titleSecond {
  margin-top: 20px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.genre {
  margin: 0;
}
